<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

  <display-name>WebProj</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

  <!-- RegisterServlet1 Declaration -->
  <servlet>
    <description></description>
    <display-name>RegisterServlet1</display-name>
    <servlet-name>RegisterServlet1</servlet-name>
    <servlet-class>jsp.RegisterServlet1</servlet-class> <!-- Package name included -->
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql://localhost:3306/jsp</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>root</param-value>
    </init-param>
    <init-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet1</servlet-name>
    <url-pattern>/RegisterServlet1</url-pattern> <!-- Mapping URL pattern -->
  </servlet-mapping>

  <!-- LoginServlet1 Declaration -->
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>jsp.LoginServlet1</servlet-class> <!-- Package name included -->
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern> <!-- Mapping URL pattern -->
  </servlet-mapping>

</web-app>
